html, body {
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#calculator {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 400px;
    border: 2px solid lightcoral;
}

.calculator_name, .display_operate {
    display: flex;
    flex-grow: 4;
}

.display_operate {
    border: 1px solid red;
    height: 200px;
    font-size: 100px;
}
.elts {
    border: 1px solid black;
    width: 98px;
    height: 98px;;
} 